* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-image: url('../public/assets/images/fondo3.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

 /* estilos del navbar */

 a[aria-current="page"] {
  border-bottom: 3px solid #ffffff;
}
a{
  text-align: right;
  color: #ffffff !important;
}
a:hover {
  background-color: #515151;
  border-radius: 8px !important; /* Green */ 
}
.navbar-list > a {
  color: #fff;
  text-decoration: none;
  display: flex;
  height: 45px;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}
