* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-image: url('../assets/images/fondo3.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

 /* estilos del navbar */
 a[aria-current="page"] {
  border-bottom: 3px solid #ffffff;
}
a{
  text-align: right;
  color: #ffffff !important;
}
a:hover {
  background-color: #515151;
  border-radius: 8px !important; /* Green */ 
}
.navbar-list > a {
  color: #fff;
  text-decoration: none;
  display: flex;
  height: 45px;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}
/* Estilos login button */
.login-btn {
  width: 12em;
  height: 2.3em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: 20px;
 }
 
 .login-btn:hover {
  color: black;
 }
 
 .login-btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 .login-btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }